Checks: '
    -*,
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -readability-magic-numbers,
    -google-runtime-int
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
